.background-Login {
  background-image: url('./src/assets/backLogin.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.blur-background {
  position: relative;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.blur-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: blur(10px);
  z-index: 1;
}

.blur-content {
  position: relative;
  z-index: 2;
  color: white;
}

.chat-field {
  background-color: #281d3b;
  color : white;
}

.user-field {
  background: linear-gradient(to right, #52224b, #312345);
  /* color : white !important; */

}
